body {
    background-image: url(/Resources/polygon-mountain.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size:cover;
}

.gridview{
    width:80%;
}

.gridview tbody tr{
    opacity:0.8;
    transition:ease-in-out 0.1s;
}

.gridview tbody tr:hover{
    opacity:1;
}
