.assetsGroup{
    position:absolute;
    left:10vw;
    top:10vw;
    width:80vw;
    height:10vw;
    font-size:0vw;
}

.Asset{
    position:relative;
    top:0%;
    left:0%;
    width:22.5%;
    height:100%;
    display:inline-block;
    margin-bottom:4%;
    margin-left:2.6vw;
}

.thumbnail{
    position:absolute;
    left:0%;
    top:0%;
    height:100%;
    width:100%;
    z-index:1;
    transform:scaleY(-1);
}

.description{
    position:absolute;
    left:0%;
    top:0%;
    height:100%;
    width:100%;
    z-index:2;
    opacity:0;
    transition:0.25s;
}

.Asset:hover .description{
    opacity:1;
}

.AssetName{
    position:absolute;
    left:0%;
    top:0%;
    margin-top:5%;
    margin-bottom:0%;
    margin-left:auto;
    margin-right:auto;
    width:100%;
    text-align:center;
    font-size:1.5vw;
    overflow:hidden;
    color:black;
}

.CreatedBy{
    position:absolute;
    left:0%;
    top:70%;
    margin-top:0%;
    margin-bottom:0%;
    margin-left:auto;
    margin-right:auto;
    width:100%;
    text-align:center;
    font-size:1vw;
    overflow:hidden;
    color:black;
}

.ExpandBtn{
    position:absolute;
    left:45%;
    top:82.5%;
    height:15%;
    width:10%;
}

.ExpandIcon{
    position:absolute;
    left:0%;
    top:0%;
    height:100%;
    width:100%;
}