@font-face{
    font-family:Ailerons;
    src: url(/Resources/fonts/Ailerons-Typeface.otf);
}

@font-face{
    font-family:Trench;
    src: url(/Resources/fonts/trench100free.otf);
}

@font-face{
    font-family:Report1942;
    src: url(/Resources/fonts/Report1942.ttf);
}

/* color1 : rgb(16, 11, 11) */

/* color2 : rgb(120, 51, 39) */


/* color scheme :
    color:rgb(216, 216, 216);
    color:rgb(252, 246, 189);
    color:rgb(208, 244, 222);
    color:rgb(222, 246, 202);
    color:rgb(248, 189, 196);
*/

.AileronsFont{
    font-family:Ailerons;
}

.TrenchFont{
    font-family:Trench;
}

.Report1942Font{
    font-family:Report1942;
}

.subTxt{
    letter-spacing: 0.085vw;
}

body{
    background-image: url(/Resources/Images/polygon-mountain.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size:cover;
    font-family:Ailerons;
    overflow-x:hidden;
    width:100%;
}

.upperbar{
    position:fixed;
    top:0vw;
    left:25%;
    width:50%;
    height:5vw;
    z-index:5;
    font-size:0px;
    box-shadow: 0vw 1vw 2vw rgba(0,0,0,0.4);
}

.upperbarItem{
    position:relative;
    left:0%;
    top:0%;
    width:33.33%;/*100% / number of items*/
    height:100%;
    display:inline-block;
    color:white;
    background-color:rgb(16, 11, 11);
    transition:0.1s;
    cursor:pointer;
}
.upperbarItem:hover{
    background-color:rgb(120, 51, 39);
}

.dropdown img{
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transition:0.5s;
}

.dropdown:hover img{
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.upperbarlink{
    position:relative;
    display:block;
    top:0%;
    left:0%;
    width:100%;
    height:100%;
    margin-top:0%;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    font-size:1.5vw;
    text-decoration:none;
    color:white;
    z-index:3;
    cursor:pointer;
}

.dropdown-hider{
    position:absolute;
    top:0%;
    left:0%;
    width:100%;
    height:100%;
    background-color:rgb(16, 11, 11);
    z-index:2;
    transition:0.25s;
}

.dropdown:hover .dropdown-hider{
    background-color:rgb(120, 51, 39);
}

.dropdown-content{
    display:block;
    position: relative;
    top:-500%;/*size of dropdown-content*/
    width:100%;
    height:100%;
    min-width: 100%;
    margin-top:-9%;
    z-index:1;
    transition:0.5s;
}

.dropdown:hover .dropdown-content{
    top:0%;
}

.dropdown_option{
    position:relative;
    display:block;
    top:0%;
    left:0%;
    width:100%;
    height:100%;
    font-size:1vw;
    text-decoration:none;
    color:black;
    background-color:lightgray;
    transition:0.25s;
}

.dropdown_option p{
    position:absolute;
    left:0%;
    width:100%;
    margin-top:7.5%;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

.dropdown_option:hover{
    background-color:darkgray;
}

.menuIcon{
    position:absolute;
    height:1vw; 
    width:1vw; 
    top:40%; 
    left:47.5%;
}

.dropdownIcon{
    position:absolute;
    height:1vw;
    width:1vw;
    top:32.5%;
    left:75%;
}

.HiddenField{
    position:absolute;
    visibility:hidden;
}

.content{
    position:absolute;
    z-index:3;
    width:100%;
    height:100%;
    top:0%;
    left:0%;
}

.profile_div{
    position:fixed;
    left:92%;
    top:2vw;
    height:5vw;
    width:5vw;
    transition:0.5s;
}

.profile_div:hover{
    left:91.5%;
    top:1.5vw;
    height:6vw;
    width:6vw;
}

.profile_div:hover .profile_letter{
    font-size:3.5vw;
}

.profile_div #profile-background{
    position:absolute;
    left:0%;
    top:0%;
    height:100%;
    width:100%;
    z-index:5;
}

.profile_color{
    position:absolute;
    left:17.5%;
    top:17.5%;
    width:65%;
    height:65%;
    z-index:3;
}

.profile_letter{
    position:absolute;
    left:10%;
    top:10%;
    width:80%;
    height:80%;
    margin-left:auto;
    margin-right:auto;
    margin-top:0vw;
    margin-bottom:0vw;
    text-align:center;
    font-size:3vw;
    color:white;
    z-index:7;
    transition:0.5s;
}

.admin-div{
    position:absolute;
    left:35%;
    top:35%;
    width:30%;
    height:30%;
    z-index:0;
}

.admin-link{
    position:absolute;
    -webkit-transform:rotate(0deg) translate(0%,-100%);
    background-image:url(/Resources/Icons/admin_pic.png);
    background-size:cover;
    width:100%;
    height:100%;
    transition:0.5s;
}

.profile_div:hover .admin-link{
    -webkit-transform:rotate(-90deg) translate(0%,-180%);
}