
.dropbtn{
    background-color:rgb(8, 37, 130);
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: 2.5px 5px 5px rgba(0,0,0,0.1);
}

.dropbtn:hover, .dropbtn:focus{
    background-color:rgb(6, 29, 101);
}

.dropdown-content a{
    color: black;
    background-color: lightgray;
    text-decoration:none;
    border: none;
    outline: none;
    cursor: pointer;
    transition:0.5s;
}

.dropdown-content a:hover, .dropdown-content a:focus{
    background-color: darkgray;
}