@font-face{
    font-family:Ailerons;
    src: url(/Resources/fonts/Ailerons-Typeface.otf);
}

@font-face{
    font-family:Trench;
    src: url(/Resources/fonts/trench100free.otf);
}

.AileronsFont{
    font-family:Ailerons;
}

.TrenchFont{
    font-family:Trench;
}

.subTxt{
    letter-spacing: 0.085vw;
}

body{
    background-image: url(/Resources/Images/polygon-mountain.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size:cover;
    font-family:Ailerons;
}

.dropbtn{
    background-color:rgb(16, 11, 11);
    color: white;
    font-family:Ailerons;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: 0px 15px 40px rgba(0,0,0,0.5);
}

.dropbtn:hover, .dropbtn:focus{
    background-color:rgb(120, 51, 39);
}

.dropIconRetract{
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transition:0.5s;
}

.dropIconExpand{
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    transition:0.5s;
}

.dropdown-content a{
    color: black;
    background-color: lightgray;
    line-height: 350%;
    text-decoration:none;
    border: none;
    outline: none;
    cursor: pointer;
    transition:0.5s;
}

.dropdown-content a:hover, .dropdown-content a:focus {
    background-color: darkgray;
}