.panelPos{
    position:absolute;
    left:57.5vw;
    top:7.5vw;
    height:35vw;
    width:40vw;
    z-index:3;
}

.errorPos{
    position:absolute;
    left:10vw;
    top:10vw;
    height:35vw;
    width:80vw;
}

.hiddenField{
    visibility:hidden;
}

.panelColor{
    background-color:rgba(255, 248, 233,0.9);
}

.ErrorMessage{
    position:absolute;
    left:0%;
    top:0%;
    height:100%;
    width:100%;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    font-size:5vw;
    color:indianred;
    z-index:5;
}

.asset-info{
    position:absolute;
    left:2.5vw;
    top:7.5vw;
    height:25vw;
    width:52vw;
    background-color:rgba(16, 11, 11, 0.97);
}

.asset-rating{
    position:absolute;
    left:2.5vw;
    top:35vw;
    height:10vw;
    width:52vw;
    background-color:rgba(16, 11, 11, 0.97);
}

.overall-rate{
    position:absolute;
    left:10%;
    top:30%;
    font-size:3vw;
    color:rgb(120, 51, 39);
}

.breakLine-pos{
    position:absolute;
    left:30%;
    top:15%;
    width:10%;
    height:70%;
}

.star-list{
    position:absolute;
    left:35%;
    top:25%;
    width:75%;
    height:80%;
}

.star{
    position:relative;
    display:inline-block;
    width:4vw;
    left:0%;
    top:0%;
    height:4vw;
    background-color:rgba(0,0,0,0);
    border:none;
    margin-right:2vw;
    cursor:pointer;
}

.star:focus{
    outline:none;
}

.star img{
    position:absolute;
    left:0%;
    top:0%;
    width:100%;
    height:100%;
    outline:none;
}

.star input{
    position:absolute;
    left:0%;
    top:0%;
    width:100%;
    height:100%;
    outline:none;
}

.hiddenImg{
    visibility:hidden;
}
.shownImg{
    visibility:visible;
}

.shown{
    opacity:1;
    transition:0.25s;
}

.star .star-hover{
   position:absolute;
   left:-4.5%;
   top:-5%;
   width:109%;
   height:109%;
}

.hidden{
    opacity:0;
    transition:0.25s;
}

.hiddenField{
    visibility:hidden;
}

.download-button{
    position:absolute; 
    outline:none; 
    border:solid;
    border-color:rgb(120, 51, 39); 
    color:rgb(120, 51, 39); 
    border-width:0.1vw; 
    font-size:2vw;
    cursor:pointer;
    background-color:rgba(0,0,0,0.0);
    transition:0.5s;
    left:35%;
    width:30%;
    top:80%;
    height:15%;
}

.download-button:hover{
    border-color:white; 
    color:white; 
    transition:0.5s;
}

.asset-name{
    position:absolute;
    left:10%;
    top:10%;
    font-size:1.75vw;
    color:rgb(120, 51, 39);
    max-width:37%;
    max-height:10%;
    width:37%;
    overflow:hidden;
    text-align:right;
}

.creator-name{
    position:absolute;
    left:50%;
    top:10%;
    font-size:1.75vw;
    color:rgb(131, 108, 108);
    max-width:40%;
    width:40%;
    max-height:10%;
    overflow:hidden;
    text-align:left;
}

.asset-desc{
    position:absolute;
    left:10%;
    top:30%;
    max-width:80%;
    max-height:40%;
    color:rgb(131, 108, 108);
    overflow-x:hidden;
    overflow-y:scroll;
    font-size: 1.25vw;
}

.asset-desc::-webkit-scrollbar { 
    display:none;
}

.info-break-line{
    position:absolute;
    left:48%;
    top:6%;
    font-size:3vw;
    color:rgb(120, 51, 39);
    margin-top:0%;
    margin-bottom:0%;
}