.canvas{
    position:absolute;
    left:0%;
    top:0%;
}

.canvas-div{
    position:absolute;
    left:10%;
    top:15%;
    width:80vw;
    height:37.5vw;
}

.fpsLabel{
    position:absolute;
    left:0%;
    top:0%;
    margin-top:0%;
    margin-bottom:0%;
    font-size:1vw;
    color:rgb(29, 18, 18);
    cursor:default;
}

.pauseLabel{
    position:absolute;
    left:0%;
    top:30%;
    width:100%;
    margin-top:5%;
    margin-bottom:5%;
    margin-left:auto;
    margin-right:auto;
    font-size:5vw;
    background-color:rgba(16, 12, 12, 0.5);
    color:white;
    text-align:center;
    cursor:default;
}

.left-btn-coll{
    position:fixed;
    left:0%;
    top:0%;
    width:7.5%;
    height:100%;
    background-color:rgba(16, 12, 12, 0.9);
}