.canvas{
    position:absolute;
    left:0%;
    top:0%;
}

.canvas-div{
    position:absolute;
    left:10%;
    top:15%;
    width:80vw;
    height:37.5vw;
    box-shadow: 0vw 1vw 2vw rgba(0,0,0,0.4);
}

.fpsLabel{
    position:absolute;
    left:0%;
    top:0%;
    margin-top:0%;
    margin-bottom:0%;
    font-size:1vw;
    color:rgb(29, 18, 18);
    cursor:default;
    user-select:none;
}

.pauseLabel{
    position:absolute;
    left:0%;
    top:25%;
    width:100%;
    height:30%;
    margin-top:5%;
    margin-bottom:5%;
    margin-left:auto;
    margin-right:auto;
    font-size:5vw;
    color:white;
    text-align:center;
    cursor:default;
}

.upload-btn{
    position:absolute;
    left:0%;
    top:0%;
    width:100%;
    height:100%;
    font-size:2vw;
    color:white;
    background-color:rgba(16, 12, 12, 0.5);
    border:none;
    outline:none;
    transition: background-color ease-in-out 0.25s;
    cursor:pointer;
}

.submit-btn{
    position:absolute;
    left:30vw;
    top:30vw;
    width:10vw;
    height:10vw;
    border:none;
    background-color:rgb(16, 12, 12);
    color:white;
}


.form-size{
    position:absolute;
    left:0%;
    top:0%;
    width:100%;
    height:100%;
}

.upload-btn:hover{
    background-color:rgba(16, 12, 12, 0.75);
}

.color-picker{
    position:absolute;
    left:7vw;
    top:12vw;
    width:8vw;
    height:15vw;
    cursor:pointer;
}

.bars{
    position:absolute;
    top:10%;
    left:10%;
    height:80%;
    width:80%;
    font-size:0vw;
    cursor:default;
}

.bar{
    position:relative;
    top:0%;
    left:0%;
    display:inline-block;
    width:33%;
    height:100%;
    background-color:black;
    border:solid;
    border-color:black;
    border-width:0.01vw;
}

.selector{
    height:0.5vw;
    width:100%;
    cursor:pointer;
    background-image:url(/Resources/Icons/selector_icon.png);
    background-size:cover;
}

.dial-wrapper{
    height:15vw;
    width:15vw;
}

.dial-svg{
    background: radial-gradient(rgba(0,0,0,0.75) 10%, rgba(0,0,0,0) 60%);
}

.main-dial{
    position:absolute;
    left:0vw;
    top:0vw;
    height:100%;
    width:100%;
    z-index:5;
}

.main-dial svg{
    position:absolute;
    left:0vw;
    top:0vw;
    height:100%;
    width:100%;
}

.main-dial svg circle{
    cursor:move;
}

.main-dial #circles circle{
    fill-opacity:0.25;
    transition:stroke 0.5s ease-in-out 0s;
}

.dial-button{
    fill:rgb(16, 11, 11);
}

.dial-action{
    fill:rgb(91, 122, 170);
}

.dial-mode{
    fill:rgb(153, 187, 66);
}

.deselected-group-btn {
    stroke:rgb(16, 11, 11);
}

.selected-group-btn{
    stroke:rgb(120, 51, 39);
}

.main-dial #circles circle:hover{
    fill-opacity:0.5;
    transition: fill-opacity 0.1s ease-in-out 0s;
}

.main-dial #circles circle{
    transform:translate(250%, 250%) rotate(0deg) translateY(-110%);
    cursor:pointer;
}

.main-dial #circles .circle0{
    transition: transform 1s ease-in-out 0s;
}

.main-dial #circles .circle1{
    transition: transform 1s ease-in-out 0.2s;
}

.main-dial #circles .circle2{
    transition: transform 1s ease-in-out 0.4s;
}

.main-dial #circles .circle3{
    transition: transform 1s ease-in-out 0.6s;
}

.main-dial #circles .circle4{
    transition: transform 1s ease-in-out 0.8s;
}

.main-dial #circles .circle5{
    transition: transform 1s ease-in-out 1.0s;
}

.main-dial #circles .circle6{
    transition: transform 1s ease-in-out 1.2s;
}

.main-dial #circles .circle7{
    transition: transform 1s ease-in-out 1.4s;
}

.main-dial #circles .circle8{
    transition: transform 1s ease-in-out 1.6s;
}

.main-dial:hover #circles .circle0{
    transform:translate(250%, 250%) rotate(-180deg) translateY(-180%);
}

.main-dial:hover #circles .circle1{
    transform:translate(250%, 250%) rotate(-155deg) translateY(-180%);
}

.main-dial:hover #circles .circle2{
    transform:translate(250%, 250%) rotate(-130deg) translateY(-180%);
}

.main-dial:hover #circles .circle3{
    transform:translate(250%, 250%) rotate(-105deg) translateY(-180%);
}

.main-dial:hover #circles .circle4{
    transform:translate(250%, 250%) rotate(-80deg) translateY(-180%);
}

.main-dial:hover #circles .circle5{
    transform:translate(250%, 250%) rotate(-55deg) translateY(-180%);
}

.main-dial:hover #circles .circle6{
    transform:translate(250%, 250%) rotate(-30deg) translateY(-180%);
}

.main-dial:hover #circles .circle7{
    transform:translate(250%, 250%) rotate(-5deg) translateY(-180%);
}

.main-dial:hover #circles .circle8{
    transform:translate(250%, 250%) rotate(20deg) translateY(-180%);
}

.icon-wrapper{
    position:absolute;
    left:0vw;
    top:0vw;
    height:100%;
    width:100%;
}

.icon-wrapper img{
    position:absolute;
    transform:translate(450%, 450%) rotate(0deg) translateY(-250%);
    width:10%;
    height:10%;
}

.main-dial .icon0{
    transition: transform 1s ease-in-out 0s;
}

.main-dial .icon1{
    transition: transform 1s ease-in-out 0.2s;
}

.main-dial .icon2{
    transition: transform 1s ease-in-out 0.4s;
}

.main-dial .icon3{
    transition: transform 1s ease-in-out 0.6s;
}

.main-dial .icon4{
    transition: transform 1s ease-in-out 0.8s;
}

.main-dial .icon5{
    transition: transform 1s ease-in-out 1.0s;
}

.main-dial .icon6{
    transition: transform 1s ease-in-out 1.2s;
}

.main-dial .icon7{
    transition: transform 1s ease-in-out 1.4s;
}

.main-dial .icon8{
    transition: transform 1s ease-in-out 1.6s;
}

.main-dial:hover .icon0{
    transform:translate(450%, 450%) rotate(-180deg) translateY(-380%);
}

.main-dial:hover .icon1{
    transform:translate(450%, 450%) rotate(-155deg) translateY(-380%);
}

.main-dial:hover .icon2{
    transform:translate(450%, 450%) rotate(-130deg) translateY(-380%);
}

.main-dial:hover .icon3{
    transform:translate(450%, 450%) rotate(-105deg) translateY(-380%);
}

.main-dial:hover .icon4{
    transform:translate(450%, 450%) rotate(-80deg) translateY(-380%);
}

.main-dial:hover .icon5{
    transform:translate(450%, 450%) rotate(-55deg) translateY(-380%);
}

.main-dial:hover .icon6{
    transform:translate(450%, 450%) rotate(-30deg) translateY(-380%);
}

.main-dial:hover .icon7{
    transform:translate(450%, 450%) rotate(-5deg) translateY(-380%);
}


.main-dial:hover .icon8{
    transform:translate(450%, 450%) rotate(20deg) translateY(-380%);
}

.vertex-selector{
    background-color:rgba(0, 0, 255, 0.3);
    border:solid;
    border-color:rgba(0, 0, 255, 0.5);
    border-width:0.075vw;
}

