.canvas{
    position:absolute;
    left:0%;
    top:0%;
}

.canvas-div{
    position:absolute;
    left:10%;
    top:15%;
    width:80vw;
    height:37.5vw;
    box-shadow: 0vw 1vw 2vw rgba(0,0,0,0.4);
}

.fpsLabel{
    position:absolute;
    left:0%;
    top:0%;
    margin-top:0%;
    margin-bottom:0%;
    font-size:1vw;
    color:rgb(29, 18, 18);
    cursor:default;
}

.pauseLabel{
    position:absolute;
    left:0%;
    top:30%;
    width:100%;
    margin-top:5%;
    margin-bottom:5%;
    margin-left:auto;
    margin-right:auto;
    font-size:5vw;
    background-color:rgba(16, 12, 12, 0.5);
    color:white;
    text-align:center;
    cursor:default;
}

.left-btn-coll{
    position:absolute;
    left:7.5%;
    top:15%;
    width:2.5%;
    height:37.5vw;
}

.right-btn-coll{
    position:absolute;
    right:14%;
    top:15%;
    width:2.5%;
    height:37.5vw;
}

.btn-left{
    position:relative;
    display:block;
    left:0vw;
    width:9.5vw;
    height:7.5vw;
    margin-bottom:0vw;
    background-color:white;
    border:solid;
    border-color:white;
    outline:none;
    transition:0.5s;
    cursor:pointer;
}

.btn-left:hover{
    position:relative;
    left:-6.5vw;
    transition:0.5s;
}

.checkable-left:focus{
    height:6.5vw;
    margin-bottom:0.5vw;
    margin-top:0.5vw;
    width:9vw;
    left:0.5vw;
}

.btn-right{
    position:relative;
    display:block;
    right:0vw;
    width:9.5vw;
    height:7.5vw;
    margin-bottom:0vw;
    background-color:white;
    border:none;
    outline:none;
    transition:0.5s;
    cursor:pointer;
}

.btn-right:hover{
    position:relative;
    right:-6vw;
    transition:0.5s;
}

.checkable-right:focus{
    height:6.5vw;
    margin-bottom:0.5vw;
    margin-top:0.5vw;
    width:9vw;
    right:0vw;
}


.btn-left-icon{
    position:absolute;
    left:0%;
    top:35%;
    width:2.25vw;
    height:2.25vw;
}

.btn-right-icon{
    position:absolute;
    right:5%;
    top:35%;
    width:2.25vw;
    height:2.25vw;
}

.color-picker{
    height:15vw;
    cursor:default;
}

.bars{
    position:absolute;
    top:0%;
    right:3vw;
    height:100%;
    width:6vw;
    font-size:0vw;
}

.bar{
    position:relative;
    top:0%;
    left:0%;
    display:inline-block;
    width:33.33%;
    height:100%;
    background-color:black;
    border:solid;
    border-color:black;
}

.selector{
    height:0.5vw;
    width:100%;
    cursor:pointer;
    background-image:url(/Resources/Icons/selector_icon.png);
    background-size:cover;
}

.final-color{
    position:absolute;
    height:2.25vw;
    width:2.25vw;
    top:40%;
    right:5%;
    border:solid;
    border-color:black;
}